body{
    background-color: gray;
}
footer{
    margin-top: 20px;
}
#contenedor{
font-family: Helvetica;
font-size: 16px;
}
#encabezado{
    display: block;
    margin: 0 auto;
}
.itemIndice{
    list-style-type: upper-roman; 
}
.enlace{
    color: red;
}
a[href^='html']{
    color: red;
}
img[src$='.svg']{
    border-radius: 50px;
}
img[src$='.png'], img[src$='.jpg']{
    border: 1px solid black;
    border-radius: 5px;
}
*{ /*el selector asterisco no depende de otros selectores para funcionar*/
    margin: 1vh 1vw;
}
h1 + h2{ /*sirve para referenciar un elemento con la condición estricta de que el segundo elemento debe estar precedido del primer elemento.*/
    text-decoration: underline;
}
h2 ~ p{ /*seleciona todos los p que estén precedidos por un h2*/
    text-align: justify;
}
article > h2{/*hace referencia a todos los elementos que sean hijos directos de la etiqueta o elemento*/
    text-decoration: underline;
}
ul li{/*funciona muy parecido al selector de hijo directo, pero no es tan estricto*/
    list-style-type: circle;
}
a[href^='https://']:visited{
    color: red;
}
a:hover{
    color: green;
}
h2:first-child{
    text-decoration: underline;
}
input:focus{
    width: 160px;
    height: 140px;
}
p::first-letter{
    text-transform: capitalize;
}
p::first-line{
    font-size: 32px;
}
p::selection{
}
#Estudios>ul>li:first-child>a::after{
    content: '" - after"';
}
#Estudios>ul>li:last-child>a::before{
    content: '"before - "'
}
#Estudios>ul>li:nth-child(2)>a::after{
    content: '"Hijo #2"'
}
/*Las pseudo-clases son palabras clave que representan el estado en el que se puede encontrar un elemento HTML, algunas pseudo-clases son :link, :active, :hover, :focus, :checked, :first-child, :last-child, :nth-child. Por otro lado, los pseudo-elementos se refieren a partes de la estructura HTML que se encuentran ocultas pero que, al igual que las pseudo clases, podemos usar en cualquier momento. Todos los elementos HTML tienen pseudo-elementos, los pseudo-elementos existentes son ::after, ::before, ::first-letter, ::first_line y ::selection.*/